{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <!-- Column for Image -->
            <div class="col-md-4 col-sm-4">
                <img src="{% static 'images/person.png' %}" class="img-fluid" alt="Person">
            </div>

            <!-- Column for Information -->
            <div class="col-md-4 col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title brand_name">{% if the_student.is_staff %}Admin{% else %}{{ the_student.student.group }}{% endif %} - group</h5>
                        <p class="card-text mt-3 brand_name">{{ the_student.first_name }}</p>
                        <p class="card-text brand_name">{{ the_student.last_name }}</p>
                    </div>
                </div>
                <br>
                <div class="card pb-2">
                    <div class="card-body">
                        <h5 class="card-title brand_name">Status</h5>
                        <p class="card-text mt-3 brand_name">Attendance - {{ percentage_of_attendance }}%</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped {% if percentage_of_attendance <= 50 %}bg-danger{% elif percentage_of_attendance < 75 %}bg-warning{% else %}bg-success{% endif %}" role="progressbar"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage_of_attendance }}%"></div>
                        </div>
                        <br>
                        <p class="card-text brand_name">Progress - {{ percentage_of_progress }}%</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                 role="progressbar"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage_of_progress }}%"></div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <!-- Column for Notifications -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title brand_name">Notifications</h5>
                        <div class="list-group mt-3">
                            {% include 'notifications/notifications.html' with the_student=the_student %}
                        </div>
                    </div>
                </div>
                {% if the_student.is_staff %}
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title brand_name">Unchecked Questions</h5>
                        <div class="list-group mt-3">
                            {% for test in unchecked_tests %}
                                <a href="{% url 'tests:check_test' test.id %}" class="list-group-item list-group-item-action">
                                    {{ test.question.text }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
