{#{% extends 'base.html' %}#}
{#{% load static %}#}
{##}
{#{% block title %}Student Login{% endblock %}#}
{##}
{#{% block content %}#}
{#    <h2>Student Login</h2>#}
{#    {% if error_message %}#}
{#        <p>{{ error_message }}</p>#}
{#    {% endif %}#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <label for="username">Username:</label><br>#}
{#        <input type="text" id="username" name="username"><br>#}
{#        <label for="password">Password:</label><br>#}
{#        <input type="password" id="password" name="password"><br><br>#}
{#        <input type="submit" value="Login">#}
{#    </form>#}
{#{% endblock %}#}
{% extends 'base.html' %}
{% load static %}

{% block title %}Student Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Login</h2>

                {% if error_message %}
                    <div class="alert alert-danger">{{ error_message }}</div>
                {% endif %}

                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                        <div class="invalid-feedback">Please enter your username.</div>
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                        <div class="invalid-feedback">Please enter your password.</div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
